.continue{
    background-color: #FF3F6C;
    border: solid 1px ;
    color: WHITE;
}

.card{
    /* margin-top: 50px; */
    width: 500px;
    /* margin-left: 350px; */
}
.message{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    color: blue;
}
.card-header{
    background-color: white;
    border-radius:20px ;
}
.navbar{
    background: white;
}
a{
    color: black;
}
